$block-caption
  text-decoration: none
  text-transform: uppercase
  letter-spacing: 2px
  color: color-grey
  display: block
  margin-bottom: 1em
  margin-left: 5px
  line-height: 1em
  text-shadow: 0 1px #fff
  font-weight: bold

$block
  background: #fff
  box-shadow: 1px 2px 3px #ddd
  border: 1px solid color-border
  border-radius: 3px