font-sans = NotoSansSet, -apple-system, BlinkMacSystemFont, YuGothicSet, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
font-serif = NotoSerifSet, YuMinchoSet, Georgia, "Times New Roman", serif
font-mono = "Source Code Pro", Consolas, Monaco, Menlo, Consolas, "Noto Sans Mono CJK JP", monospace
font-icon = FontAwesome
font-icon-path = "fonts/fontawesome-webfont"
font-icon-version = "4.0.3"

@font-face
  font-family: FontAwesome
  font-style: normal
  font-weight: normal
  src: url(font-icon-path + ".eot?v=#" + font-icon-version)
  src: url(font-icon-path + ".eot?#iefix&v=#" + font-icon-version) format("embedded-opentype"),
          url(font-icon-path + ".woff?v=#" + font-icon-version) format("woff"),
          url(font-icon-path + ".ttf?v=#" + font-icon-version) format("truetype"),
          url(font-icon-path + ".svg#fontawesomeregular?v=#" + font-icon-version) format("svg")

@font-face
  font-family: YuGothicSet
  font-weight: normal
  font-style: normal
  src: local("YuGothic-Medium"),
          local("Yu Gothic Medium"), local("YuGothic Medium"),
          local("游ゴシック Medium"), local("游ゴシック体 Medium"),
          local("Yu Gothic"), local("YuGothic"),
          local("游ゴシック"), local("游ゴシック体")

@font-face
  font-family: YuGothicSet
  font-weight: bold
  font-style: normal
  src: local("YuGothic-Bold"),
          local("Yu Gothic Bold"), local("YuGothic Bold"),
          local("游ゴシック Bold"), local("游ゴシック体 Bold"),
          local("Yu Gothic"), local("YuGothic"),
          local("游ゴシック"), local("游ゴシック体")

@font-face
  font-family: YuMinchoSet
  font-weight: normal
  font-style: normal
  src: local("YuMincho-Regular"),
          local("Yu Mincho Regular"), local("YuMincho Regular"),
          local("游明朝 Regular"), local("游明朝体 Regular"),
          local("Yu Mincho"), local("YuMincho"),
          local("游明朝"), local("游明朝体")

@font-face
  font-family: YuMinchoSet
  font-weight: bold
  font-style: normal
  src: local("YuMincho-Demibold"),
          local("Yu Mincho Demibold"), local("YuMincho Demibold"),
          local("游明朝 Demibold"), local("游明朝体 Demibold"),
          local("Yu Mincho"), local("YuMincho"),
          local("游明朝"), local("游明朝体")

@font-face
  font-family: NotoSansSet
  font-weight: normal
  font-style: normal
  src: local("Noto Sans CJK JP Light"), local("Noto Sans CJK JP")

@font-face
  font-family: NotoSansSet
  font-weight: bold
  font-style: normal
  src: local("Noo Sans CJK JP Medium"), local("Noto Sans CJK JP")

@font-face
  font-family: NotoSerifSet
  font-weight: normal
  font-style: normal
  src: local("Noto Serif CJK JP Light"), local("Noto Serif CJK JP")

@font-face
  font-family: NotoSerifSet
  font-weight: bold
  font-style: normal
  src: local("Noto Serif CJK JP SemiBold"), local("Noto Serif CJK JP")