// Colors
color-default = #555
color-grey = #999
color-border = #ddd
color-link = #258fb8
color-background = #eee
color-quote-background = rgb(250, 247, 227)
color-quote-separator = rgba(170, 170, 170, 0.3)
color-quote-line = hsla(349, 76%, 60%, 0.3)
color-quote-text = #666
color-footer-background = #262a30
color-twitter = #00aced
color-facebook = #3b5998
color-pinterest = #cb2027
color-google = #dd4b39

// Fonts
font-sans = "Helvetica Neue", Helvetica, Arial, sans-serif
font-serif = Georgia, "Times New Roman", serif
font-mono = "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace
font-icon = FontAwesome
font-icon-path = "fonts/fontawesome-webfont"
font-icon-version = "4.0.3"
font-size = 14px
line-height = 1.6em
line-height-title = 1.1em

// Header
logo-size = 40px
subtitle-size = 16px
banner-height = 300px
banner-url = "images/banner.jpg"

// Layout
block-margin = 50px
article-padding = 20px
main-column = 9
sidebar-column = 3

if !hexo-config("sidebar") or hexo-config("sidebar") is bottom
  sidebar-column = 0

// Grids
column-width = 85px
gutter-width = 15px
columns = main-column + sidebar-column

// Media queries
mq-mobile = "screen and (max-width: 479px)"
mq-tablet = "screen and (min-width: 480px) and (max-width: 767px)"
mq-normal = "screen and (min-width: 768px)"