<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a><br><br>
      <!-- IPv6-test.com button BEGIN -->
      <a href="http://uid0.com/ip6dc/krasovsky.me" target="_blank"><img src="https://krasovsky.me/content/ipv6.png" alt="ipv6 ready" title="ipv6 ready" border="0" /></a>
      <!-- IPv6-test.com button END -->
    </div>
  </div>
</footer>
