.widget-wrap
  column(sidebar-column)
  margin-bottom: block-margin

.widget-title
  color: #ccc
  text-transform: uppercase
  letter-spacing: 2px
  margin-bottom: 1em
  line-height: 1em
  font-weight: bold

.widget
  line-height: line-height
  word-wrap: break-word
  font-size: 0.9em
  color: color-grey